{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistema para controle e adiantamento de pagamentos">
    <meta name="author" content="Vinicius Ferreira Raymundo. GitHub viniferay">
    <link rel="icon" href="../../favicon.ico">
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css'  %}" rel="stylesheet">
    <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">
    <script src="{% static 'js/ie8-responsive-file-warning.js' %}"></script>
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
  </head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Controle de Pagamentos</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

  {% block body%}
  {% endblock body%}
</body>
</html>